*{
    margin:0;
}
  header,article,aside,nav,footer{
    padding: 15px;
  }

  .content{
    display:flex;
    height: 80vh;
  }
   
header{
    background-color: rgb(43, 226, 177);
}
article {
    background-color: rgb(126, 126, 178);
    width: 50%;
}
aside {
    background-color: rgb(122, 160, 160);
    width: 25%;
}
nav {
    background-color: rgb(201, 158, 158);
    width: 25%;
}
footer{
    background-color: rgb(159, 159, 85);
}